/* FONTS */
/*title*/
@import url('https://fonts.googleapis.com/css?family=Vampiro+One');
@import url('https://fonts.googleapis.com/css?family=VT323');
@font-face {
  	font-family: 'dotty';
    	src: url('../fonts/dotty.ttf');
}
@font-face {
	font-family: 'outrun';
		src: url('../fonts/Outrun future Bold Italic.otf');
}
@font-face {
	font-family: 'true-crimes';
		src: url('../fonts/true-crimes.ttf');
}

/* LAYOUT */
section, aside, footer, header, body, main, nav {
	display: block;
}
body {
	box-sizing: content-box;
	display: block;
	flex-wrap: wrap;
	width: 100vw;
	max-width: 100vw;
	margin: 0;
	padding: 0;
	background-image: url(../img/black_carpet.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
	color: white;
}
/*header*/
header {
	width: 100vw;
	height: 100vh;
}
/*bg image*/
header .bg {
	position: absolute;
	height: 100%;
	width: 100vw;
	object-fit: cover;
}
nav {
	position: fixed;
	display: flex;
	z-index: 100;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	height: 75px;
	background: black;
	color: #202020;
	background-image: repeating-linear-gradient(
		to bottom, 
		#181818 0%, 
		black 10%);
}
nav h1 {
	font-size: 3.0vmax;
	font-family: 'outrun';
	font-variant: small-caps;
	letter-spacing: 3px;
	margin: auto;
	margin-left: 15px;
	text-shadow: 
		2px 2px 0 black,
		3px 5px 0 #101010;
	transition: 
		color 0.2s steps(5,end) 0s;
}
nav h1:hover {
	animation: neon 1s steps(5,end) infinite alternate;
	color: #ffffff;
}
/*animations*/
@keyframes neon {
  	from {
    	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  	}
  	to {
    	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  	}
}
@keyframes neonbox {
  	from {
    	box-shadow: 0 0 10px -30px #fff, 0 0 20px -30px #fff, 0 0 30px -30px #fff, 0 0 40px -30px #ff00de, 0 0 70px -30px #ff00de, 0 0 80px -30px #ff00de, 0 0 100px -30px #ff00de, 0 0 150px -30px #ff00de;
  	}
  	to {
    	box-shadow: 0 0 5px -30px #fff, 0 0 10px -30px #fff, 0 0 15px -30px #fff, 0 0 20px -30px #ff00de, 0 0 35px -30px #ff00de, 0 0 40px -30px #ff00de, 0 0 50px -30px #ff00de, 0 0 75px -30px #ff00de;
  	}
}
nav ul {
	font-family: 'dotty';
	display: flex;
	align-content: center;
	align-items: center;
	text-transform: uppercase;
	list-style-type: none;
	max-width: 100vw;
}
nav li {
	min-width: 6em;
	height: 100%;
	border-right: 0.5px solid #282d33;
}
#header-nav a:link, #header-nav a:visited {
	color: #555;
	text-shadow: -0.5px -0.5px 0.5px #d8d8d8;
	font-size: 2.5em;
	padding: 10px 10px;
	margin: 0px 20px;
	letter-spacing: 3px;
	text-decoration: none;
	background-size: 1500px;
	background-position: center;
	transition: 
		text-shadow 0.5s ease 0.2s,
		color 0.5s ease 0.2s;
}
#header-nav a:hover {
	text-shadow: 
		8px 8px 2px rgba(255,40,255,0.5), 
		-8px -8px 2px rgba(0, 128, 255, 0.7),
		0px 0px 10px white,
		30px 0 10px indigo,
		-30px 0 10px indigo;
	color: white;
}



/*body*/
main {
	background-image: url(../img/black_carpet.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
	
	color: fuchsia;
	font-family: 'VT323', monospace;
	font-size: 1.3em;
	line-height: 25px;
	width: 100vw;
}
#profile-image {
	margin: 30px auto;
	background-image: url(../img/me.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
#who-what {
	display: flex;
	flex-flow: row nowrap;
	margin: 80px 0;
}
#who {
	order: 1;
	width: 30vw;
	color: #888;
	word-spacing: 1px;
	background-image: repeating-linear-gradient(
		to bottom, 
		#181818 0%, 
		black 0.6%);
	padding: 1.5em;
}
#who p {
    text-indent: 10%;
}
abbr[title] {
    text-decoration: none;
}

#what {
	order: 2;
	width: 70vw;
	word-spacing: 1px;
	background-image: 
		linear-gradient(to right, rgba(0, 15, 134, 0.0) 30%, #86008b),
		linear-gradient(to top, rgba(0, 0, 0, 0.0) 50%, #0900e2),
		repeating-linear-gradient(
		to bottom, 
		#181818 0%, 
		black 0.6%);
	color: white;
	padding: 1.5em;
}
.job {
    margin: 50px auto;
}
.position {
    font-variant: small-caps;
    letter-spacing: 3px;
}
.details {
    margin: 5px auto;
}


#where {
	order: 3;
	word-spacing: 1px;
	justify-content: center;
	align-self: flex-end;
	background-image: repeating-linear-gradient(
		to bottom, 
		#181818 0%, 
		black 2.5%);
	padding: 1.5em;
}
#who h2, #what h2, #where h2 {
	text-align: center;
	letter-spacing: 1px;
	color: #ffffff;
	background: black;
	border: 2px solid #101010;
	border-top-color: black;
	border-bottom-color: #262626;
	font-variant: small-caps;
	margin: auto;
	padding: 10px;
    text-shadow: 
		8px 11px 15px rgba(255,40,255,0.3), 
		-8px -11px 15px rgba(0, 128, 255, 0.3),
		0px 0px 13px rgba(255,255,255,0.4),
		40px 0 5px rgba(75,0,130,0.5),
		-40px 0 5px rgba(75,0,130,0.5);
}



/*contact*/
aside {
	display: block;
	width: 70%;
	margin: 10% auto;
}
form {	
	background-image: url(../img/contactbg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 1.5em;
	min-height: 300px;
	border: 2px solid #363636;
	border-radius: 10px;
	box-shadow: 0 10px 40px -10px #414141;
	text-align: center;
	margin: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1em;
}
#contact-title {
	font-family: 'true-crimes';
	font-style: italic;
	margin: 1em auto 0.5em auto;
	padding: 0px 1em;
	width: 100vw;
	line-height: 35px;
	background-image: repeating-linear-gradient(
		to bottom, 
		#181818 0%, 
		black 8%);
	border: 3px solid #101010;
	border-top-color: black;
	border-bottom-color: #262626;
	box-shadow: 0 5px 20px -10px rgba(50,50,50,0.5);
	transition: 
		box-shadow 0.5s ease 0.2s,
		color 0.5s ease 0.2s;
}
#contact-title:hover {
	box-shadow: 
		8px 18px 35px rgba(255,40,255,0.2), 
		-8px -18px 35px rgba(0, 128, 255, 0.2),
		0px 0px 30px rgba(255,255,255,0.3),
		80px 0 60px rgba(75,0,130,0.3),
		-80px 0 60px rgba(75,0,130,0.3);
}
.content-box {
	margin: 25px auto;
	width: 100%;
}
.content-box label {
	margin-bottom: 8px;
}
label {
	display: inline-flex;
	width: 70px;
	padding: 5px;
	justify-content: center;
	background-image: repeating-linear-gradient(
		to bottom, 
		#181818 0%, 
		black 21%);
	border: 2px solid #101010;
	border-top-color: black;
	border-bottom-color: #262626;
	margin: auto;
	color: fuchsia;
	box-shadow: 0 5px 20px -10px rgba(50,50,50,0.5);
	transition: 
		box-shadow 0.5s ease 0.2s,
		color 0.5s ease 0.2s;
}
label:hover {
	box-shadow: 
		8px 8px 5px rgba(255,40,255,0.1), 
		-8px -8px 5px rgba(0, 128, 255, 0.2),
		0px 0px 30px rgba(255,255,255,0.3),
		40px 0 30px rgba(75,0,130,0.3),
		-40px 0 30px rgba(75,0,130,0.3);
}
#message-box {
	margin: auto;
}
#message-box label {
	margin-bottom: 8px;
}
	
textarea {
	display: flex;
	border-radius: 5px;
	border: none;
	width: 100%;
	height: 150px;
	margin: auto;
	overflow: auto;
	font-size: 0.8em;
	text-align: left;
	background: #151515;
	color: white;
	box-shadow: inset 0 -15px 30px -20px rgba(100,100,100,0.2),inset 0 15px 30px -20px rgba(0,0,0,0.9);
	transition: 
		text-shadow 1s ease 0.2s,
		color 1s ease 0.2s;
}
textarea:focus {
	outline: 0;
	background: black;
}

input[type="text"]:focus {
	outline: 0;
	background: black;
	text-shadow: 
		8px 8px 2px rgba(255,40,255,0.5), 
		-8px -8px 2px rgba(0, 128, 255, 0.7),
		0px 0px 10px white,
		30px 0 10px indigo,
		-30px 0 10px indigo;
	color: white;
}
#label-message {
	width: auto;
	margin: 25px;
}
input {
	background: #151515;
	margin: auto;
	box-shadow: 0 9px 20px -10px rgba(77, 77, 77, 0.5);
}
input[type="text"] {
	border: 0;
	border-radius: 5px;
	margin: auto;
	width: auto;
	text-align: center;
	color: white;
	transition: 
		text-shadow 1s ease 0.2s,
		color 1s ease 0.2s;
}
input[type="text"]:focus {
	outline: 0;
	background: black;
	text-shadow: 
		8px 8px 2px rgba(255,40,255,0.5), 
		-8px -8px 2px rgba(0, 128, 255, 0.7),
		0px 0px 10px white,
		30px 0 10px indigo,
		-30px 0 10px indigo;
	color: white;
}
#submit_button {
	width: 100%;
}
input[type="submit"] {
	font-family: 'true-crimes';
	font-style: italic;
	background: #000000;
	color: #222222;
	display: block;
	cursor: pointer;
	border-radius: 100% 10%;
	border-top-color: #002243;
	border-bottom-color: #460046;
	border-left-color: #002243;
	border-right-color: #460046;
	padding: 1em;
	margin: 1em auto 0em auto;
	box-shadow: 0px 15px 30px -15px #006cff;
	transition: 
		color 0.3s steps(5,end) 0.0s, 
		background 0.6s steps(5,end) 0.0s; 
}
input[type="submit"]:hover {
	animation: 
		neon 1s steps(5,end) infinite alternate, 
		neonbox 1s steps(5,end) infinite alternate;
	color: #ffffff;
	border-color: fuchsia;
	background: #000daf;
}

/*topnavbutton*/
#top-nav-icon {
	z-index: 105;
	height: 50px;
	width: 110px;
	display: block;
	cursor: pointer;
	background-image: url(../img/top_nav_button2.png);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: -5px auto;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 113px;
}

/*footer*/
footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -1.7vh;
	padding: 10px;
	display: flex;
	height: 6%;
	flex-direction: row;
	overflow: hidden;
	width: 100vw;
}
footer p {
	color: #484848;
	display: flex;
	font-variant: small-caps;
	width: 100%;
	height: 100%;
	padding: 9px 30px;
	background: black;
	justify-content: flex-end;
	background-image: repeating-linear-gradient(
		to bottom, 
		#181818 0%,
		black 17%);
}